.create-profile {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

  form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
  }

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-direction: row !important;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

  button[type="submit"] {
    background-color: #35792a;
    color: white;
  }

    button[type="submit"]:hover {
      background-color: #246819;
    }

  button[type="button"] {
    background-color: #ddd;
    border: 1px solid #aaa;
  }

    button[type="button"]:hover {
      background-color: #aaa;
    }

.deactive-button {
  background-color: rgba(53, 121, 42, 0.7) !important;
}
