.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

  .pagination button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .pagination button:hover:not([disabled]) {
      background-color: #388E3C;
    }

    .pagination button:disabled {
      background-color: #ccc;
      cursor: default;
    }
