<div class="dish-list">
  <div class="header-buttons">
    <button class="switch-button ingr-btn" (click)="navigateToProducts()">Продукты</button>
    <button class="switch-button active">Блюда</button>
  </div>

  <input type="text" class="filter-input" placeholder="Поиск блюд..." [(ngModel)]="params.name" (ngModelChange)="loadDishes()" />

  <div class="controls">
    <div class="sorting">
      <label>Сортировка:</label>
      <select [(ngModel)]="params.sortingCriteria" (change)="loadDishes()">
        <option [ngValue]="null">Без сортировки</option>
        <option [ngValue]="0">Калории</option>
        <option [ngValue]="1">Белки</option>
        <option [ngValue]="2">Жиры</option>
        <option [ngValue]="3">Углеводы</option>
      </select>

      <label>
        <input type="checkbox" [(ngModel)]="params.sortAsc" (change)="loadDishes()"> По возрастанию
      </label>
    </div>

    <div class="pagination">
      <label>Страница:</label>
      <button (click)="changePage(-1)" [disabled]="params.page === 1">←</button>
      <span>{{ params.page || 1 }} / {{ totalPages() }}</span>
      <button (click)="changePage(1)" [disabled]="!hasNextPage">→</button>
    </div>
  </div>


  <button class="add-button" (click)="openAddDishModal()">Добавить блюдо</button>

  <div *ngIf="isLoading" class="loading">Загрузка...</div>

  <div *ngIf="!isLoading && dishes.length === 0" class="no-data">
    <p>У вас пока нет блюд.</p>
  </div>

  <div class="dishes-container" *ngIf="!isLoading && dishes.length > 0">
    <div class="dish-card"
         *ngFor="let dish of dishes"
         (click)="openDatailsModal(dish.id)"
         [style.backgroundImage]="dishImages[dish.id] ? 'url(' + dishImages[dish.id] + ')' : ''"
         [style.backgroundSize]="'cover'"
         [class.bg-img]="dishImages[dish.id] != null">
      <div class="dish-header">
        <h3>{{ dish.name }}</h3>
        <div class="actions">
          <fa-icon [icon]="faTrash" (click)="openDeleteConfirmation(dish.id, $event)" class="delete-icon"></fa-icon>
        </div>
      </div>
      <p>Калории: {{ dish.calories | number:'1.1-1' }} ккал</p>
      <p>Белки: {{ dish.proteins | number:'1.1-1' }} г</p>
      <p>Жиры: {{ dish.fats | number:'1.1-1' }} г</p>
      <p>Углеводы: {{ dish.carbohydrates | number:'1.1-1' }} г</p>
    </div>
  </div>
</div>
