<div class="posts-list">
  <div class="header-buttons">
    <button class="switch-button" [class.active]="!isMyPosts" (click)="switchToAllPosts()">Все посты</button>
    <button class="switch-button" [class.active]="isMyPosts" (click)="switchToMyPosts()">Мои посты</button>
  </div>

  <input type="text"
         class="filter-input"
         placeholder="Поиск по тексту..."
         [(ngModel)]="searchText"
         (ngModelChange)="searchPosts()" />

  <div class="controls">
    <div class="pagination">
      <button (click)="changePage(-1)" [disabled]="page === 1">←</button>
      <span>{{ page }} / {{ totalPages() }}</span>
      <button (click)="changePage(1)" [disabled]="!hasNextPage">→</button>
    </div>
  </div>

  <button class="add-button" (click)="navigateToCreationPost()">Написать пост</button>

  <div *ngIf="isLoading" class="loading">Загрузка...</div>
  <div *ngIf="!isLoading && posts.length === 0" class="no-data">Нет постов для отображения.</div>

  <div class="posts-container" *ngIf="!isLoading && posts.length > 0">
    <div class="post-card" *ngFor="let post of posts" (click)="navigateToPost(post.id)">
      <h3>{{ post.title }}</h3>
      <div class="post-text">
        {{ post.text }}
      </div>
      <div class="post-footer">
        <div class="icon-group">
          <fa-icon [icon]="faComment"></fa-icon>
          <span>{{ post.amountOfComments }}</span>
        </div>
        <div class="icon-group like" (click)="likePost(post)">
          <fa-icon [icon]="post.isLiked ? solidHeart : regularHeart" [ngClass]="{ liked: post.isLiked }"></fa-icon>
          <span>{{ post.amountOfLikes }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
