<div class="page-container">

  <div class="chart-wrapper">

    <div class="chart-header">
      <div class="choosing-buttons">
        <button class="choose-button" [class.active]="viewMode === 'calories'" (click)="switchViewMode('calories')">Калории</button>
        <button class="choose-button" [class.active]="viewMode === 'macros'" (click)="switchViewMode('macros')">БЖУ</button>
      </div>
      <app-date-range-picker [(params)]="periodParams"
                             (reload)="onUpdatePeriod()">
      </app-date-range-picker>
    </div>

    <div *ngIf="chartData.length > 0">
      <ngx-charts-line-chart [view]="[700, 400]"
                             [scheme]="colorScheme"
                             [results]="chartData"
                             [xAxis]="true"
                             [yAxis]="true"
                             [autoScale]="false"
                             [legend]="true"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [xAxisLabel]="'Дата'"
                             [yAxisLabel]="viewMode === 'calories' ? 'Калории (ккал)' : 'Граммы'"
                             [yScaleMin]="yScaleMin">
      </ngx-charts-line-chart>
    </div>


  </div>

  <div class="table-wrapper">
    <h3>Топ-15 продуктов за период</h3>
    <table>
      <thead>
        <tr>
          <th>Продукт</th>
          <th (click)="setSort('weight')">
            Вес (г)
            <span *ngIf="sortKey === 'weight'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="setSort('calories')">
            Калории (ккал)
            <span *ngIf="sortKey === 'calories'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="setSort('proteins')">
            Белки (г)
            <span *ngIf="sortKey === 'proteins'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="setSort('fats')">
            Жиры (г)
            <span *ngIf="sortKey === 'fats'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="setSort('carbohydrates')">
            Углеводы (г)
            <span *ngIf="sortKey === 'carbohydrates'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of sortedTopFood">
          <td>{{ food.name }}</td>
          <td>{{ food.totalWeight | number:'1.0-0' }}</td>
          <td>{{ food.totalCalories | number:'1.0-0' }}</td>
          <td>{{ food.totalProteins | number:'1.0-1' }}</td>
          <td>{{ food.totalFats | number:'1.0-1' }}</td>
          <td>{{ food.totalCarbohydrates | number:'1.0-1' }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
